span,
input {  /*未点击时的属性*/
  border: 2px solid rgba(255, 255, 255, 1);  /*边框的大小 样式 颜色*/
  font-size: 1.45em;                           /*文字大小*/
  padding: .25em .5em .3125em;                /*内边距*/
  color: rgba(0, 0, 0, 0.5);            /*文字颜色   没有存在的必要*/
  border-radius: .25em;                       /*边框圆角*/
  background: transparent;                         /*背景透明*/
  -webkit-transition: all .100s;               /*尚不清楚*/
  transition: all .100s;                      /*尚不清楚*/
}
span:focus,
input:focus {     /*点中输入框时 */
  outline: none;       /*border外再加一个小框*/
  color: rgba(255, 255, 255, 1);  /*文字颜色*/
  border-color: rgba(255, 255, 255, 1);/*边框颜色*/
}

input {   /*控制输入框的位置*/
  position: absolute;
  box-sizing: border-box;
  top: 15em;
  left: 50%;
  width: 11em;
  margin-left: -5.5em; /*为什么需要这个?*/
}
input {  /*输入框字体*/
  font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
}

span.keyup,
input.keyup { /*当按下按键时，改变文本域的颜色：*/
  color: white;
  border-color: white;
  text-shadow: 0 0 .125em white;
  box-shadow: 0 0 .25em white,inset 0 0 .25em white;
}

canvas {  /*与JS有关*/
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
}


/*不同浏览器 placeholder 设置不同*/
::-webkit-input-placeholder {  /* WebKit browsers */
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 0 .125em transparent;
  -webkit-transition: all .25s;
  transition: all .25s;
}

input:focus::-webkit-input-placeholder {
  opacity: .5;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 0 .125em transparent;
  -webkit-transition: all .25s;
  transition: all .25s;
}

input:focus::-moz-placeholder {
  opacity: .5;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 0 .125em transparent;
  -webkit-transition: all .25s;
  transition: all .25s;
}

input:focus:-ms-input-placeholder {
  opacity: .5;
}

html, body {
  height: 100%;
  overflow: hidden;
}

html {
  background: black url() no-repeat center bottom;
  background-size: cover;
}

body {
  box-shadow: inset 0 0 5em #000;
}


